<?xml version="1.0"?>
<config>
    <modules>
        <ZendMonk_EasyDisable>
            <version>0.1.0</version>
        </ZendMonk_EasyDisable>
    </modules>
	<global>
		<helpers>
			<zendmonk_easydisable>
				<class>ZendMonk_EasyDisable_Helper</class>
			</zendmonk_easydisable>
			<catalog>
				<rewrite>
					<product_compare>ZendMonk_EasyDisable_Helper_Catalog_Product_Compare</product_compare>
				</rewrite>
			</catalog>
		</helpers>
		<models>
			<zendmonk_easydisable>
				<class>ZendMonk_EasyDisable_Model</class>
			</zendmonk_easydisable>
		</models>
		<blocks>
			<zendmonk_easydisable>
				<class>ZendMonk_EasyDisable_Block</class>
			</zendmonk_easydisable>
			<customer>
                <rewrite>
					<account_navigation>ZendMonk_EasyDisable_Block_Customer_Account_Navigation</account_navigation>
                    <form_register>ZendMonk_EasyDisable_Block_Customer_Form_Register</form_register>
                </rewrite>
            </customer>
			<page>
				<rewrite>
					<html_header>ZendMonk_EasyDisable_Block_Page_Html_Header</html_header>
				</rewrite>
			</page>
			<review>
				<rewrite>
					<helper>ZendMonk_EasyDisable_Block_Review_Helper</helper>
				</rewrite>
			</review>
		</blocks>
	</global>
	<adminhtml>
		<translate>
            <modules>
                <zendmonk_easydisable>
                    <files>
                        <default>ZendMonk_EasyDisable.csv</default>
                    </files>
                </zendmonk_easydisable>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <customer_dashboard>
                                            <title>Account Dashboard</title>
                                        </customer_dashboard>
										<discount_codes>
											<title>Discount Codes</title>
										</discount_codes>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
		<events>
			<controller_action_predispatch>
				<observers>
					<zendmonk_easydisable>
						<class>ZendMonk_EasyDisable_Model_Observer</class>
						<method>preDispatch</method>
					</zendmonk_easydisable>
				</observers>
			</controller_action_predispatch>
			<controller_action_layout_load_before>
				<observers>
					<zendmonk_easydisable>
						<class>ZendMonk_EasyDisable_Model_Observer</class>
                        <method>loadBefore</method>
					</zendmonk_easydisable>
				</observers>
			</controller_action_layout_load_before>
		</events>
		<layout>
            <updates>
                <zendmonk_easydisable module="ZendMonk_EasyDisable">
                    <file>zendmonk_easydisable.xml</file>
                </zendmonk_easydisable>
            </updates>
        </layout>
    </frontend>
	<default>
	    <web>
			<breadcrumbs>
				<remove_from_all>0</remove_from_all>
				<remove_from_particular>0</remove_from_particular>
			</breadcrumbs>
			<polls>
				<disabled>0</disabled>
			</polls>
		</web>
		<design>
			<page_columns>
				<remove_callout_left>0</remove_callout_left>
				<remove_callout_right>0</remove_callout_right>
			</page_columns>
		</design>
		<catalog>
			<review>
				<disabled>0</disabled>
			</review>
			<tags>
				<disabled>0</disabled>
			</tags>
			<product_comparison>
				<disabled>0</disabled>
			</product_comparison>
			<recently_products>
				<remove_sidebar>0</remove_sidebar>
			</recently_products>
            <search>
                <disabled>0</disabled>
				<advanced_disabled>0</advanced_disabled>
            </search>
        </catalog>
		<newsletter>
			<general>
				<disabled>0</disabled>
			</general>
		</newsletter>
		<customer_dashboard>
			<general>
				<remove_login_welcome_msg>0</remove_login_welcome_msg>
			</general>
			<remove>
				<orders>0</orders>
				<billing_agreements>0</billing_agreements>
				<recurring_profiles>0</recurring_profiles>
				<review>0</review>
				<tags>0</tags>
				<wishlist>0</wishlist>
				<applications>0</applications>
				<newsletter_subscriptions>0</newsletter_subscriptions>
				<downloadable>0</downloadable>
			</remove>
		</customer_dashboard>
		<wishlist>
			<wishlist_link>
				<remove_from_toplinks>0</remove_from_toplinks>
			</wishlist_link>
		</wishlist>
		<sales>
			<reorder>
				<remove_sidebar>0</remove_sidebar>
			</reorder>
			<orders_returns>
				<disabled>0</disabled>
			</orders_returns>
		</sales>
		<checkout>
			<estimate_shipping_and_tax>
				<disabled>0</disabled>
			</estimate_shipping_and_tax>
		</checkout>
		<discount_codes>
			<general>
				<disabled>0</disabled>
			</general>
		</discount_codes>
	</default>
</config>